PORT=5000
FRONTEND_URL=http://localhost:5173
JWT_SECRET=your_jwt_secret_here

DB_HOST=localhost
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_NAME=reflex_project

ADMIN_NAME=Main Admin
ADMIN_EMAIL=admin@reflex.com
ADMIN_PASSWORD=admin123
